这是一个使用nextjs搭建的前端项目，是一个漏洞扫描系统的管理页面
技术栈: typescript nextjs15 tailwind4 shadcn/ui
项目希望尽可能避免客户端js，尽量使用SSR/RSC组件
项目虽然使用nextjs但是不直接实现后端功能，后端有单独的实现，通过ServerActions与后端请求交互，但不直接返回数据给前端，而是尽量SSR，项目的请求使用自己封装的api-client，前端尽量不直接请求数据并使用JS操作DOM，但有些情况难以避免
项目不直接维护登录状态，而是将前端的信息转交到后端接口进行身份验证
项目使用手动实现的i18n进行多语言支持，手动处理i18n路由

在编写任何页面时，尽量减少模板也就是html/jsx代码，尽量使用组件，减少重复代码，将相同的组件不同元素的不同之处提取出来放到TS对象中作为配置，loading skeleton放在单独的loading.tsx中，这可是最新的Nextjs 15
